<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Doggag{% endblock %}</title>

  {% load static %}

  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/infinite.min.js' %}"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}"/>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <p> -- EOF -- </p>
</body>
</html>
