{% extends 'base.html' %}

{% block content %}

    <!-- This block should be in the header -->
    {% if user.is_authenticated %}
        <p> Hi {{ user.profile.nickname }}! </p>
        <!-- Display user photo if user has -->
        {% if user.profile.photo %}
            <img src="{{ user.profile.photo.url }}" alt="Profile picture">
        {% else %}
            <img src="/media/images/default.png" alt="Default profile picture">
        {% endif %}
        <p><a href="{% url 'apps:upload' %}" class="button">Upload Post</a></p>
        <p><a href="{% url 'accounts:userdetail' user.id %}" class="button">User profile</a></p>
        <p><a href="{% url 'logout' %}" class="button">Logout</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}" class="button">Login</a>
    {% endif %}

    <!-- Display the posts -->
    <div class="infinite-container">
    {% for post in posts %}
        <div class="infinite-item">
            <h3><a href="{% url 'apps:detail' post.id %}">{{ post.title }}</a></h3>
            <img src="{{ post.content.url }}" alt="Post image failed to load">
            <p>{{ post.votes }}</p>
            <a href="{% url 'apps:upvote' post.id %}" class="button">Upvote</a>
            <a href="{% url 'apps:downvote' post.id %}" class="button">Downvote</a>
            {% if post.post_owner != None %}
                <p>Post owner: <a href="{% url 'accounts:userdetail' post.post_owner.id %}">{{ post.post_owner }} </a></p>
            {% else %}
                <p>Post owner : {{ post.post_owner }}</p>
            {% endif %}
        </div>
    {% endfor %}
    </div>

    <div class="loading" style="display: none;">
        Loading...
    </div>

    {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
    {% endif %}

    <script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
            $('.loading').show();
            },
        onAfterPageLoad: function ($items) {
            $('.loading').hide();
            }
    });

    </script>
{% endblock %}
