{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  <p> Hi {{ user.username }}! </p>
  <img src="{{ user.photo.url }}" alt="Profile picture">
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}

  <div class="infinite-container">
    {% for post in posts %}
      <div class="infinite-item">
        <h3>{{ post.title }}</h3>
        <p>{{ post.votes }}</p>
        <a href="{% url 'apps:upvote' post.id %}" class="button">Upvote</a>
        <a href="{% url 'apps:downvote' post.id %}" class="button">Downvote</a>
      </div>
    {% endfor %}
  </div>

  <div class="loading" style="display: none;">
    Loading...
  </div>

  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ posts.next_page_number }}">More</a>
  {% endif %}

  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}
