{% extends 'base.html' %}

{% block content %}

    <!-- Display the posts -->
    <div class="infinite-container">
    {% for post in posts %}
        <div class="infinite-item center">
            <h3><a href="{% url 'apps:detail' post.id %}">{{ post.title }}</a></h3>
            {% if post.content.url %}
                <img class="post" src="{{ post.content.url }}" alt="Image deleted from the data base">
            {% else %}
                <img class="post" src="/media/images/404image.jpg" alt="Post image failed to load">
            {% endif %}
            <p>Number of votes: {{ post.votes }}</p>
            <a href="{% url 'apps:upvote' post.id %}" class="button">Upvote</a>
            <a href="{% url 'apps:downvote' post.id %}" class="button">Downvote</a>
            {% if post.post_owner != None %}
                <p>Post owner: <a href="{% url 'accounts:userdetail' post.post_owner.id %}">{{ post.post_owner }} </a></p>
            {% else %}
                <p>Post owner : {{ post.post_owner }}</p>
            {% endif %}
        </div>
    {% endfor %}
    </div>

    <div class="loading" style="display: none;">
        Loading...
    </div>

    {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
    {% endif %}

    <script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
            $('.loading').show();
            },
        onAfterPageLoad: function ($items) {
            $('.loading').hide();
            }
    });

    </script>
{% endblock %}
