{% extends 'base.html' %}

{% block content %}

    <!-- This block should be in the header -->
    <ul>
    <li><a href="{% url 'apps:home' %}"> -- HOME -- </a></li>
    {% if user.is_authenticated %}
        <li> <p id="greeting"> Hi {{ user.profile.nickname }}! </p> </li>
        <!-- Display user photo if user has -->
        <li>
        {% if user.profile.photo %}
            <img class="profile" src="{{ user.profile.photo.url }}" alt="Profile picture">
        {% else %}
            <img class="profile" src="/media/images/default.png" alt="Default profile picture">
        {% endif %}
        </li>
        <li><a href="{% url 'apps:upload' %}" >Upload Post</a></li>
        <li><a href="{% url 'accounts:userdetail' user.id %}">User profile</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li><p>You are not logged in</p></li>
        <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
    </ul>

    <div class="center">
        <h3>{{ post.title }}</h3>
        <img class="post" src="{{ post.content.url }}" alt="Post image failed to load">
        <p>Number of votes: {{post.votes}}<p>

        <a href="{% url 'apps:upvoteD' post.id %}" class="button">Upvote</a>
        <a href="{% url 'apps:downvoteD' post.id %}" class="button">Downvote</a>

        <form action="{% url 'apps:comment' post.id %}" method="post">
            {% csrf_token %}
            <input type="text" name="com"/>
            <input type="submit" value="OK">
        </form>
        <!-- Display the comments -->
        {% for comment in comment_list %}
            <p>{{ comment.creation_date }}</p>
            <p>{{ comment.content }}</p>
        {% endfor %}
    </div>

{% endblock %}
