/* GENERIC CSS */
p{
    color: #C25100;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.infinite-container{
    margin: auto;
}
.center{
    margin: auto;
    width: 50%;
}

img.post{
    max-width: 100%;
    height: auto;
}

/* HEADER CSS */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

img.profile {
    border-radius: 50%;
    max-width: 10%;
    height: auto;
    margin: 5%;
}

p#greeting {
    margin-left: 10px;
    color: #FFFF;
}
